<?xml version="1.0"?>
<model>
  <name>robot_lidar</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>Mikhail Peshkov</name>
    <email>m.peshkov@g.nsu.ru</email>
  </author>

  <description>
  Example differential drive vehicle model.
  </description>
</model>